<%- include('partials/head') %>
<%- include('partials/headerNav', {menu_item:2, logged:isLogged}) %>


<iframe width="100%" height="315" src="https://www.youtube.com/embed/Bm2VYRyZx2Q?si=0oIK7XrK2MMR9M2S" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen=""></iframe>

<section>
  <h2>🧊 Demoscene</h2>
  <p>
    The <a href="https://en.wikipedia.org/wiki/Demoscene">Demoscene</a> is an international computer art
    subculture
    focused on producing so-called demos: self-contained,
    sometimes extremely small, computer programs that display audiovisual content. The purpose of a demo is to
    show
    off
    programming, visual art, and musical skills.</p>
</section>

<section>
  <h2>✨ Demoparty</h2>
  <p>Demoparties are physical social events, usually over a weekend, focused on presenting new demoscene content.
    They
    typically feature competitions of several categories, seminars about relevant demoscene topics and live
    performances of
    music and visuals.</p>
</section>
<section>
  <h2><img width="21" height="21" src="imgs/ID_64px.png" alt="inercia icon"> Inércia 2023</h2>
  <p>Demoparties are physical social events, usually over a weekend, focused on presenting new demoscene content.
    They
    typically feature competitions of several categories, seminars about relevant demoscene topics and live
    performances of
    music and visuals.</p>
</section>


<section>
  <h2>🖥️ Get in Touch</h2>
  <p>Even if you can't make it in person, you can follow the entire event live through our <a href="https://www.twitch.tv/inerciademoparty">twitch</a> and <a href="https://www.youtube.com/@inerciademoparty/">youtube</a>
    channels.</p>
  <p>If you have any questions or just want to get in touch with the active Portuguese demoscene community you are
    also
    welcome to join the <a href="https://discord.gg/JpvwUZaUUb">ScenePT discord server</a>.</p>
</section>

<%- include('partials/footer') %>