<%- include('partials/head') %>
<%- include('partials/headerNav', {menu_item:4, logged:isLogged}) %>

<section>
  <h2>🏠 Venue</h2>
  <p>Inércia Demoparty will take place at <a href="https://maps.app.goo.gl/uy4aHHmLYoxHmjZNA">Salão de Festas da
      Incrivel Almadense</a>, in the heart of Almada, Portugal, just across the river from Lisbon.</p>
  <p>
    <img width="900" height="597" class="pic" src="imgs/incrivel-sala.webp" alt="Incrivel Almadense" srcset="">
    We will have a big screen projector, audio PA, tables and chairs for up to about 100 participants and a food
    corner for snacks and things.
    <br>
    <br>
    The location has floor space for participants to sleep in a more reserved corner, you are welcome to sleep
    on location during the party period. We recommend you to bring a matress and a sleeping bag equipment for
    optimum party crashing comfort. Or book an hotel room / airb&b close by.
  </p>
</section>

<section>
  <h2>📝 Sign up for physical attendance</h2>
  <p>Inércia Demoparty welcomes anyone who is interested in the demoscene and digital art, if you're planning to
    attend in person please register using this <a href="https://forms.gle/dLr1pa1pnh3UyX7d8">google form</a>.
    If you're anti-google, you can <a href="mailto:info@inercia.pt">email</a> or dm us on discord your
    information (email, name, nickname, nationality, if we can list the nickname and nationality on our website,
    the size for your t-shirt, which of the days you're planning to attend, if you have any food constraints and
    if you're planning to sleep at partyplace). If you register before 12 November you get the party t-shirt for
    free!</p>
  <p>Entrance fee for physical participation in the event is 13.37 euros paid at the door. Free entrance for
    associates of <a href="https://inercia.pt/">Associação Inércia</a> with their quotas paid until the end of
    2023. Free entrance for SFIA associates who present their associate card with their quotas up to date (pink
    sticker). Free entrance for temporary visit during main compo blocks.</p>
</section>

<section>
  <h2>🖥️ Remote submitting and voting</h2>
  <p>You don't need to register with the google form if you are not planning to attend physically. To submit
    entries remotely and voting on the competitions you can simply login to this very website using SceneID.</p>
</section>

<section>
  <h2>🧑 Who registered to attend</h2>
  <ul class="visitors">
    <li><img src="flags/_flag_pt.png" alt="pt flag"> Jae686 </li>
    <li><img src="flags/_flag_pt.png" alt="pt flag"> ps </li>
    <li><img src="flags/_flag_pt.png" alt="pt flag"> EviL </li>
    <li><img src="flags/_flag_pt.png" alt="pt flag"> anticore </li>
    <li><img src="flags/_flag_pt.png" alt="pt flag"> mirage </li>
    <li><img src="flags/_flag_pt.png" alt="pt flag"> zeroshift </li>
    <li><img src="flags/_flag_pt.png" alt="pt flag"> Speccy IODO </li>
    <li><img src="flags/_flag_pt.png" alt="pt flag"> alien </li>
    <li><img src="flags/_flag_pt.png" alt="pt flag"> afonsus </li>
    <li><img src="flags/_flag_pt.png" alt="pt flag"> jeenio </li>
    <li><img src="flags/_flag_br.png" alt="pt flag"> tarkus </li>
    <li><img src="flags/_flag_pt.png" alt="pt flag"> hug0ne </li>
    <li><img src="flags/_flag_pt.png" alt="pt flag"> cc2023 </li>
    <li><img src="flags/_flag_pt.png" alt="pt flag"> gr9yfox </li>
    <li><img src="flags/_flag_itugalia.png" alt="pt flag"> bacitoto </li>
    <li><img src="flags/_flag_pt.png" alt="pt flag"> icid </li>
    <li><img src="flags/_flag_pt.png" alt="pt flag"> goulart </li>
    <li><img src="flags/_flag_pt.png" alt="pt flag"> dextrose </li>
    <li><img src="flags/_flag_uk.png" alt="uk flag"> RaccoonViolet </li>
    <li><img src="flags/_flag_uk.png" alt="uk flag"> aldroid </li>
    <li><img src="flags/_flag_pt.png" alt="pt flag"> PauloFalcao </li>
    <li><img src="flags/_flag_uk.png" alt="uk flag"> gasman </li>
    <li><img src="flags/_flag_uk.png" alt="uk flag"> ToBach </li>
    <li><img src="flags/_flag_pt.png" alt="pt flag"> Aeris </li>
    <li><img src="flags/_flag_pt.png" alt="pt flag"> killmaster </li>
    <li><img src="flags/_flag_pt.png" alt="pt flag"> tiago </li>
    <li><img src="flags/_flag_uk.png" alt="uk flag"> Stormcaller </li>
    <li><img src="flags/_flag_uk.png" alt="uk flag"> MrsBeanbag </li>
    <li><img src="flags/_flag_ie.png" alt="ie flag"> rc55 </li>
    <li><img src="flags/_flag_pt.png" alt="pt flag"> LOLF </li>
    <li><img src="flags/_flag_uk.png" alt="uk flag"> reality404 </li>
    <li><img src="flags/_flag_be.png" alt="be flag"> FRaNKy </li>
    <li><img src="flags/_flag_pt.png" alt="pt flag"> Buu342 </li>
    <li><img src="flags/_flag_pt.png" alt="pt flag"> raffitz </li>
    <li><img src="flags/_flag_pt.png" alt="pt flag"> xernobyl </li>
    <li><img src="flags/_flag_uk.png" alt="uk flag"> Crypt </li>
    <li><img src="flags/_flag_se.png" alt="se flag"> noglin </li>
  </ul>
</section>

<section>
  <h2>📜 Rules of conduct</h2>
  <p>No sexist, racist, transphobic, etc behaviors allowed. The organization reserves the right to refuse entrance
    / kick out anyone for any reason. Same rules apply to our online chatrooms, you will get blocked if you
    don't behave. Bottom line: Don't be an asshole. If you respect other peoples space and beliefs you're
    welcome to attend.</p>
  <p>Concerning COVID-19 related restrictions: we will follow whatever health directive is mandatory at the time
    of the event. Currently in Portugal all restrictions have been lifted, no requirement to provide vaccine
    documentation, no requirements to wear masks. Common sense applies: please stay home if you're infected, and
    please wear your mask indoors if you have symptoms and/or been around someone who recently tested positive.
  </p>
</section>

<%- include('partials/footer') %>