<%- include('partials/head') %>
<%- include('partials/headerNav', {menu_item:1, logged:isLogged}) %>

<section>
  <h2>📰 News</h2>
  <article>
    <h3>2023-11-04 - We look different now!</h3>
    <p>Yes, you're not hallucinating, the page looks different from what it did yesterday. We managed to
      ressurect
      our designer
      from his hibernation and we are updating our party image for 2023 as we type. Wait till you see the
      flyer
      and the
      t-shirt design!</p>
  </article>


  <article>
    <h3>2023-11-03 - Will you look at the time!?</h3>
    <p>We now have the timetable schedule available, you can see it right here! It is still preliminary and
      likely to change a
      bit before or even during the party but should be helpful to give you an idea of when is what.</p>
  </article>

  <article>
    <h3>2023-11-03 - Beware of our deadlines!</h3>
    <p>Deadlines might bite if you're not careful, make sure you bring something sweet to turn them
      friendly.
      These are the
      deadlines you should be looking out for:</p>
    <ul class="styled">
      <li><strong>November 12th 23:59</strong> Register for physical attendance with a free t-shirt</li>
      <li><strong>November 29th 23:59</strong> Register for Shader Royale participation</li>
      <li><strong>December 1st 18:00</strong> Submissions for the Music showcase</li>
      <li><strong>December 2nd 10:00</strong> Submissions for all the other showcases and competitions
      </li>
    </ul>
  </article>

  <article>
    <h3>2023-11-02 - About Inércia 2023</h3>
    <p>Not sure what Inércia is or how to be a part of it? We recorded a video summarizing the event and the
      frequently asked
      questions we have. You can watch it <a href="https://www.youtube.com/watch?v=Bm2VYRyZx2Q">at our
        youtube
        channel</a>.</p>
  </article>
  <article>
    <h3>2023-10-31 - Seminar talks information now available!</h3>
    <p>Every year we have a handful of interesting seminars and workshops of different topics connected with
      the
      demoscene,
      this year is no exception and we have started adding information about them on the <a href="https://2023.inercia.pt/index.php?page=Seminars">Seminars page</a>! Check
      it out!</p>
  </article>


  <article>
    <h3>2023-10-26 - Are you coming? Please register!</h3>
    <p>Planning to attend in person? Awesome! Please use <a href="https://forms.gle/dLr1pa1pnh3UyX7d8">this
        google form</a> to let us know
      so we can prepare
      things. You also get
      a free t-shirt if you do it before November 12. And if you're anti-google please email us your
      answers
      and we'll add
      your info manually.</p>
  </article>
  <article>
    <h3>2023-10-26 - Come and participate!</h3>
    <p>The success of Inércia is made by you, the visitors. Inércia is all about community participation.
      Watching it is fun
      but engaging with it is even more so. Regardless of your skill level and prior demoscene experience
      we
      invite you to
      present at Inércia something creative that you been working on. At the same time you will be able to
      see
      and hear what
      everyone else has been doing and have that opportunity to engage with them and learn more about it.
      That's what a
      demoparty is all about! There are several ways you can participate at Inércia 2023, please check <a href="https://2023.inercia.pt/index.php?page=Participation">the
        list</a> to see what
      best matches your creative interests and try to add a little more you to Inércia.</p>
  </article>


  <article>
    <h3>2023-10-25 - Location Location Location</h3>
    <p>We have established a partnership with Municipality of Almada and the 175 year old Sociedade
      Filarmónica
      Incrivel
      Almadense. We are proud to announce Inércia Demoparty this year will take place at <a href="https://maps.app.goo.gl/uy4aHHmLYoxHmjZNA">Salão de Festas da
        Incrivel Almadense</a>
      during 1-3 December 2023.</p>
  </article>

  <article>
    <h3>2023-10-20 - We are live!</h3>
    <p>Hello World! Inércia 2023 is a go! Just need to clean up the website and add all the missing
      information!
    </p>
  </article>

</section>

<%- include('partials/footer') %>