<%- include('partials/head') %>
<%- include('partials/headerNav', {menu_item:6, logged:isLogged}) %>

<section>
  <h2>📣 Seminars</h2>
  <p>As always, we will have seminars at Inércia on different topics connected with the demoscene, read more
    information
    about them below:</p>
  <article>
    <h3>🧟‍♂️ Building a Frankenstein 64 by <a href="https://celso.io/">Celso Martinho</a></h3>
    <p>
      <img class="pic" src="imgs/c64_celso.webp" alt="celso seminar">
      Restoring or building old computer replicas from scratch as a hobby is a great way to understand not
      only
      how they
      worked but also how modern computing still shares some of the same fundamentals.
      <br>
      <br>
      I will present how I built a C64 replica from scratch and restored and upgraded other Commodores
      (C128DCR and an Amiga
      1000). Maybe I'll bring them along too.
    </p>
  </article>

  <article>
    <h3>👾 Arcade game port to ZX Spectrum - A reverse engineering exercise by <a href="https://www.youtube.com/@Rui1973Martins/">Rui Martins</a></h3>
    <p>
      <img class="pic" src="imgs/extruder_ruimartins.webp" alt="rui seminar">
      Reverse engineering an arcade game and re-implementing it into an 8 bit system is an engineering
      exercise, where
      compromises have to be made in order to accomplish the goal, since the capabilities of the target
      machine are severely
      under powered when compared with the source machine.
      <br>
      <br>
      On this seminar talk the processes of accomplishing this and all it involves, will be presented with
      example of the
      Arcade game "Magical Drop II" and how it became the ZX Spectrum game "Extruder" developed by Rui
      Martins.
    </p>
  </article>

  <article>
    <h3>🧙 Crashcourse on making demos for the TIC-80 Fantasy Console by <a href="https://demozoo.org/sceners/313/">ps</a></h3>
    <p>
      <img class="pic" src="imgs/tic80_ps.webp" alt="tic80 seminar">
      TIC-80 is a free and open source fantasy computer for making, playing and sharing tiny games.
      <br>
      <br>
      We decided to use it for evil and make demoscene productions instead. It's a fun sandbox to quickly
      prototype some
      ideas, it's limitations of palette and sound offer a charming oldschool retro aesthetic while the
      support for modern
      languages enables a faster learning curve.
      <br>
      <br>
      In this seminar talk I'll walk you through the basics of TIC-80 and how to quickly get started doing
      something creative
      with it: pixel art, music and programming. We'll also include some protips of what tools are availble to
      assist in both
      size optimized or megademo projects.
    </p>
  </article>
  <article>
    <h3><img class="icon" width="21" height="21" src="imgs/cables_64px.png" alt="icon cables"> cables.gl as a demo making tool by <a href="https://demozoo.org/sceners/117325/">anticore</a></h3>
    <p>
      <img class="pic" src="imgs/cryptic_anticore.webp" alt="anticore seminar">
      <a href="https://cables.gl/">Cables.gl</a> is a tool for creating beautiful interactive content. With an
      easy to navigate interface and
      real time
      visuals, it allows for rapid prototyping and fast adjustments.
      <br>
      <br>
      Anticore will make this presentation framed from the perspective of Gaia Space Agency demos, with focus
      on techniques,
      learned lessons and nifty tricks.
    </p>
  </article>

  <article>
    <h3>✨ O que é a Demoscene? (PT) by <a href="https://demozoo.org/sceners/3048/">jeenio</a></h3>
    <p>
      <img class="pic" src="imgs/demoscene_jeenio.webp" alt="jeenio seminar">
      During our open morning to the community on Saturday, we will explain what the Demoscene is all about,
      telling a bit
      about the history, the artists, the productions and the role of Associação Inércia in promoting the
      Demoscene in
      Portugal.
      <br>
      <br>
      As the main target audience is Almada's community, this seminar will be in Portuguese.
    </p>
  </article>
</section>

<%- include('partials/footer') %>