<%- include('partials/head') %>
<%- include('partials/headerNav', {menu_item:7, logged:isLogged}) %>

<section>
  <h2>⚠️ Deadlines</h2>
  <p><strong>November 12th:</strong> Register for physical attendance with free t-shirt (use the <a href="https://forms.gle/dLr1pa1pnh3UyX7d8">google form</a>)</p>
  <p><strong>November 29th:</strong> Register for Shader Royale participation (email <a href="mailto:info@inercia.pt">info at inercia.pt</a>)</p>
</section>

<section>
  <h2>🕒 Timetable</h2>
  <p>This schedule is preliminary and may change shortly before or even during the party.
    All times are <a href="https://time.is/Lisbon">Lisbon timezone</a> (same as UK, -1h from CET).</p>
</section>

<section>
  <table class="timetable">
    <thead>
      <tr>
        <th></th>
        <th></th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td colspan="3">
          <h2>📅 Friday · December 1st</h2>
        </td>
      </tr>
      <tr>
        <td>13:37</td>
        <td>
          <div class="tt event">EVENT</div>
        </td>
        <td>Doors Open</td>
      </tr>
      <tr>
        <td>15:00</td>
        <td>
          <div class="tt event">EVENT</div>
        </td>
        <td>Opening Ceremony</td>
      </tr>
      <tr>
        <td>16:00</td>
        <td>
          <div class="tt seminar">SEMINAR</div>
        </td>
        <td>Crashcourse on making demos for the TIC-80 Fantasy Console by ps</td>
      </tr>
      <tr>
        <td>18:00</td>
        <td>
          <div class="tt deadline">DEADLINE</div>
        </td>
        <td>Music showcase</td>
      </tr>
      <tr>
        <td>18:00</td>
        <td>
          <div class="tt seminar">SEMINAR</div>
        </td>
        <td>Arcade game port to ZX Spectrum - A reverse engineering exercise by Rui Martins</td>
      </tr>
      <tr>
        <td>20:00</td>
        <td>
          <div class="tt seminar">SEMINAR</div>
        </td>
        <td>cables.gl as a demo making tool by anticore</td>
      </tr>
      <tr>
        <td>21:00</td>
        <td>
          <div class="tt show">SHOWCASE</div>
        </td>
        <td>Music Showcase</td>
      </tr>
      <tr>
        <td>23:00</td>
        <td>
          <div class="tt event">EVENT</div>
        </td>
        <td>Shader Royale Jam (with audio liveact by <a href="https://soundcloud.com/parallelpulse">Parallel
            Pulse</a>)</td>
      </tr>
      <tr>
        <td>00:00</td>
        <td>
          <div class="tt music">MUSIC</div>
        </td>
        <td>DJ Set: TBA</td>
      </tr>
      <tr>
        <td colspan="3">
          <h2>📅 Saturday · December 2nd</h2>
        </td>
      </tr>
      <tr>
        <td>10:00</td>
        <td>
          <div class="tt deadline">DEADLINE</div>
        </td>
        <td>All competitions and showcases</td>
      </tr>
      <tr>
        <td>10:00</td>
        <td>
          <div class="tt event">EVENT</div>
        </td>
        <td>Tour for the community</td>
      </tr>
      <tr>
        <td>11:00</td>
        <td>
          <div class="tt seminar">SEMINAR</div>
        </td>
        <td>What is the demoscene? by jeenio (in Portuguese)</td>
      </tr>
      <tr>
        <td>13:00</td>
        <td>
          <div class="tt event">EVENT</div>
        </td>
        <td>Roundtable</td>
      </tr>
      <tr>
        <td>15:00</td>
        <td>
          <div class="tt show">SHOWCASE</div>
        </td>
        <td>Graphics Showcase</td>
      </tr>
      <tr>
        <td>16:00</td>
        <td>
          <div class="tt seminar">SEMINAR</div>
        </td>
        <td>Building a Frankenstein 64 by Celso Martinho</td>
      </tr>
      <tr>
        <td>17:00</td>
        <td>
          <div class="tt show">SHOWCASE</div>
        </td>
        <td>Wild Showcase</td>
      </tr>
      <tr>
        <td>19:00</td>
        <td>
          <div class="tt event">EVENT</div>
        </td>
        <td>30N Demoparty Competitions Screening</td>
      </tr>
      <tr>
        <td>20:00</td>
        <td>
          <div class="tt seminar">SEMINAR</div>
        </td>
        <td>Livecoding by quendera</td>
      </tr>
      <tr>
        <td>21:00</td>
        <td>
          <div class="tt music">MUSIC</div>
        </td>
        <td>DJ Set: TBA</td>
      </tr>
      <tr>
        <td>22:00</td>
        <td>
          <div class="tt compo">COMPO</div>
        </td>
        <td>Realtime Competitions</td>
      </tr>
      <tr>
        <td>00:00</td>
        <td>
          <div class="tt music">MUSIC</div>
        </td>
        <td>Concert: TBA</td>
      </tr>
      <tr>
        <td colspan="3">
          <h2>📅 Sunday · December 3rd</h2>
        </td>
      </tr>
      <tr>
        <td>11:00</td>
        <td>
          <div class="tt event">EVENT</div>
        </td>
        <td>Lazy Sunday Jam (with liveact by jeenio)</td>
      </tr>
      <tr>
        <td>12:00</td>
        <td>
          <div class="tt event">EVENT</div>
        </td>
        <td>Prize giving and closing ceremony</td>
      </tr>
      <tr>
        <td>13:37</td>
        <td>
          <div class="tt event">EVENT</div>
        </td>
        <td>Doors Close</td>
      </tr>
    </tbody>
  </table>
</section>

<%- include('partials/footer') %>